body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #888;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
span{
  margin-top: 0%;
  margin-bottom: 0%;
}
#violet{
  color:#651FFF;
  padding: .2rem;
  border-radius: 15px;
  cursor: pointer;
  
}
#orange{
  color:#FF9100;
  cursor: pointer;
  padding: .2rem;
  border-radius: 15px;
}
#green{
  color:#00E676;
  cursor: pointer;
  padding: .2rem;
  border-radius: 15px;
}
#blue{
  color: #00B0FF;
  cursor: pointer;
  padding: .2rem;
  border-radius: 15px;
}
#normal{
  color: #888;
  cursor: pointer;
}




@media (max-width: 900px) {
  #violet{
    background-color: #B39DDB;
    padding: 0;
  }
  #orange{
    background-color: #FFB74D;
    padding: 0;
  }
  #green{
    background-color: #A5D6A7;
    padding: 0;
  }
  #blue{
    background-color: #81D4FA;
    padding: 0;
  }
}

a{
  text-decoration: none;
}
